.DS_Store
composer.lock
/*.idea
/.Build/*
/.cache
/.fleet
/.php-cs-fixer.cache
/.phpunit.result.cache
/Documentation-GENERATED-temp/
/build
/composer.lock
/generate-documentation.sh
/var
/Resources/Private/Php/ComposerLibraries/vendor
